<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Institution</th>
    <th>bKash Number</th>
    <th>Payment Method</th>
    <th>Transaction ID</th>
    <th>Approval</th>
  </tr>
  <tr *ngFor="let d of data">
    <td>{{ d.payload.doc.data().name }}</td>
    <td>{{ d.payload.doc.data().email }}</td>
    <td>{{ d.payload.doc.data().institution }}</td>
    <td>{{ d.payload.doc.data().number }}</td>
    <td>{{ d.payload.doc.data().pmethod }}</td>
    <td>{{ d.payload.doc.data().trx }}</td>
    <td [class.nonapproved]="!d.payload.doc.data().approved">
      <div class="button" *ngIf="!d.payload.doc.data().approved">
        <button (click)="approve(d.payload.doc.id)">Approve</button>
        <button (click)="decline(d.payload.doc.id)">Decline</button>
      </div>
      <p *ngIf="d.payload.doc.data().approved">Already Approved</p>
    </td>
  </tr>
</table>
